<div class="pageTitle">
<h1 class="title">Find a Pet!</h1>
</div>

<div class="row animals">
    <div class="col-md-6 col-md-offset-3">
    <form>
        <button ng-hide="hidden" ng-click="getRandomPet()">Find another {{animal}}</button>
        <label for="animalType">Animal Type: </label>
        <select name="animalType" id="animalType" ng-model="animal" ng-change="changeAnimal()">
          <option value="">Select Type</option>
          <option value="barnyard">Barnyard</option>
          <option value="bird">Bird</option>
          <option value="cat">Cat</option>
          <option value="dog">Dog</option>
          <option value="horse">Horse</option>
          <option value="pig">Pig</option>
          <option value="smallfurry">Small/Furry</option>
          <option value="reptile">Reptile</option>
        </select>
    </form>
    </div>
    <div>
        Favorites: {{allFavs.length}}
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="mainContainer">
        <h2 class="petInfo">{{pet.name.$t}}</h2>
        <img ng-src="{{pet.media.photos.photo[2].$t}}"/>
        <h4 ng-hide="hidden" class="petInfo">{{pet.contact.city.$t}}, {{pet.contact.state.$t}}</h4>
      </div>
        <p>{{pet.description.$t}}</p>

        <form ng-show="pet.id.$t">
            <button ng-click="submitFavorite()" class="btn btn-info">Favorite</button>
        </form>
    </div>
</div>
